@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');


p {
  font-size: 94%;
  justify-content: right;
}

body {
  font-family: 'Poppins';
}

header {
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#logo {
  height: 120px;
}

#menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.link-menu {
  color: #fff;
  background-color: #555;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}

#principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 600px;
  align-items: center;
  gap: 50px;
}
figure{
  margin: 0px;
}

figure img{
  width: 270px;
}

#sec_ctd h1{
  width: 550px;
  text-align: right;
  font-size: xx-large;
}

#sec_ctd p{
  width: 500px;
  text-align: justify;
}

#especial#sec_ctd#sinopse p {
  width: 350px;
  text-align: justify;
}

#second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  gap: 50px;
}

.cartaz img{
  width: 250px;
}

#contato {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#email a{
  color: white;
  text-decoration: none;
}

#social a img {
  height: 25px;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}

main {
  background-color: #333;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #fff;
}

footer {
  background-color: #333;
  color: #ddd;
}

#acesso {
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: large;
  height: 60px;
}

#acesso a {
  text-decoration: none;
  margin: 20px;
  
}

#acesso.m{
  display: flex;
  align-items: center;
}
#acesso.m a img{
  width: 40px;
}

.l {
  color: white;
}

#descricao {
  border: 2px solid grey;
  border-radius: 10px;
  width: 600px;
  padding: 10px;
}

